<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 

<html class="no-js"> <!--<![endif]-->
    <head>

        <title>MicroSystem Solutions</title>

        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        
        <!-- stylesheets -->
        {% block stylesheets %}
        <link  href="{{asset('templates/css/bootstrap1.min.css')}}" rel="stylesheet">
        <link  href="{{asset('templates/css/font-awesome.min.css')}}" rel="stylesheet">
        <link  href="{{asset('templates/css/animate.css')}}" rel="stylesheet">
        <link  href="{{asset('templates/css/owl.carousel.css')}}" rel="stylesheet">
        <link  href="{{asset('templates/css/owl.theme.css')}}" rel="stylesheet">
        <link  href="{{asset('templates/css/style.css')}}" rel="stylesheet">
        <link  href="{{asset('templates/css/nivo-lightbox/nivo-lightbox.css')}}" rel="stylesheet">
        <link  href="{{asset('templates/nivo-lightbox/nivo-lightbox-theme.css')}}" rel="stylesheet">
        <link  href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">

              {% endblock %}
              
        <!-- scripts -->
         <link rel="icon" type="image/x-icon" href="{{asset('templates/images/logo.png')}}" />  
 

    </head>
{% block content %}
    <body>

        <div id="home-page">

            <!-- site-navigation start -->  
            <nav id="mainNavigation" class="navbar navbar-dafault main-navigation" role="navigation">
                <div class="container">
                    
                    <div class="navbar-header">
                        
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <!-- navbar logo -->
                        <div class="navbar-brand">
                            <span class="sr-only">MicroSystem Solutions</span>
                            <a href="#">
                                <img src="{{asset('templates/images/logo.png')}}" class="img-responsive center-block" alt="logo">
                            </a>
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                    <!-- nav links -->
                    <div class="collapse navbar-collapse" id="main-nav-collapse">
                        <ul class="nav navbar-nav navbar-right text-uppercase">
                            <li>
                                <a href="{{path('acceuil')}}"><span>Acceuil</span></a>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>A propos</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{path('about')}}">about</a>
                                    </li>
                                    <li>
                                        <a href="{{path('service')}}">service</a>
                                    </li>
                                    
                                   
                                  
                                </ul>  <!-- end of /.dropdown-menu -->
                            </li> <!-- end of /.dropdown -->

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Nos produits</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{path('MS-Compta')}}">MS-Comptoir -Gestion Commerciale </a>
                                    </li>
                                  
                                      <li>
                                        <a href="{{path('MS-Achat')}}">MS-Achat</a>
                                    </li>
                                      <li>
                                        <a href="{{path('MS-Budget')}}">MS-Budget</a>
                                    </li>
                                      <li>
                                        <a href="{{path('GestionComptable')}}">Gestion Comptable </a>
                                    </li>
                                       <li>
                                        <a href="{{path('MS-RH')}}">MS-Paie & RH</a>
                                    </li>
                                    
                                      <li>
                                        <a href="{{path('MS-VE')}}">MS-VENTE</a>
                                    </li>
                                     <li>
                                        <a href="{{path('MS-Cars')}}">MS-Cars</a>
                                    </li>
                                    
                                    <li>
                                        <a href="{{path('MS-Haras')}}">MS-Haras</a>
                                    </li>
                                  
                                </ul> <!-- end of /.dropdown-menu -->
                            </li> <!-- end of /.dropdown -->
                            
                            

                            <li>
                                <a href="{{path('myapplication_contact')}}"><span>contact</span></a>
                            </li>
                        </ul>
                    </div><!-- nav links -->
                    
                </div><!-- /.container -->
            </nav>
            <!-- site-navigation end -->


          

       

            


        
            
        </div> <!-- end of /#home-page -->
        
        
        <!-- Primary Page Layout
	================================================== -->

	{% block body %}{%endblock  %}
        
        
        
        
        

        <!--  Necessary scripts  -->
	
	<!-- JAVASCRIPT
    ================================================== -->
   {% block javascripts %}
       <script type="text/javascript" src="{{asset('templates/js/modernizr.custom.97074.js')}}"></script>
        <script type="text/javascript" src="{{asset('templates/js/jquery-2.1.3.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('templates/js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('templates/js/owl.carousel.js')}}"></script>
        <script type="text/javascript" src="{{asset('templates/js/jquery.hoverdir.js')}}"></script>
        <script type="text/javascript" src="{{asset('templates/js/script.js')}}"></script>
        <script type="text/javascript" src="{{asset('templates/js/nivo-lightbox/nivo-lightbox.min.js')}}"></script>
        <link rel="stylesheet"  href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
         <script src="{{ asset('js/jquery.min.js') }}"></script>
         <script src="{{ asset('js/bootstrap.js') }}"></script>


        <!-- script for image zoom using nivo lightbox (galerry)-->
        <script>
            $(document).ready(function(){
                $('.item-zoom').nivoLightbox();
            });
        </script>
        
        
        
        
       
  
        <!-- script for portfolio section using hoverdirection -->
        <script type="text/javascript">
            $(function() {

                $('.portfolio-item > .item-image').each( function() { $(this).hoverdir({
                    hoverDelay : 75
                }); } );

            });
        </script>


        <!-- script for twitter-feed using owl carousel-->
        <script type="text/javascript">
            $(document).ready(function() {
 
                $("#twit").owlCarousel({
                 
                    navigation : true, // Show next and prev buttons
                    slideSpeed : 100,
                    paginationSpeed : 400,
                    navigationText : false,
                    singleItem: true,
                    autoPlay: true,
                    pagination: false
                });
 
            });
        </script>
        

        
        <!-- script for testimonial section using owl carousel -->
        <script type="text/javascript">
            $(document).ready(function() {
 
                $("#client-speech").owlCarousel({
                 
                    autoPlay: 5000, //Set AutoPlay to 3 seconds
                    stopOnHover: true,
                    singleItem:true
                });
 
            });
        </script>
        
                <!-- script for sponsor using owl carousel -->

        <script type="text/javascript">
            $(document).ready(function() {
 
                $("#sponsor-list").owlCarousel({
                 
                    autoPlay: 3000, //Set AutoPlay to 3 seconds
                    stopOnHover: true,
                    items : 4,
                    itemsDesktop: [1200,4],
                    itemsDesktopSmall: [991,3],
                    itemsTablet: [767,2],
                    itemsTabletSmall: [625,2],
                    itemsMobile: [479,1]
                });
 
            });
        </script>
        
            <!-- script for testimonial du page service.html-->
        <script type="text/javascript">
            $(document).ready(function() {
 
                $("#client-speech").owlCarousel({
                 
                    autoPlay: 5000, //Set AutoPlay to 3 seconds
                    stopOnHover: true,
                    singleItem:true
                });
 
            });
        </script> 

        
           <!-- script for FAQ using jquery blog.html -->
        
        <script>
            $(".faq-q").click( function () {
              var container = $(this).parents(".faq-c");
              var answer = container.find(".faq-a");
              var trigger = container.find(".faq-t");
              
              answer.slideToggle(200);
              
              if (trigger.hasClass("faq-o")) {
                trigger.removeClass("faq-o");
              }
              else {
                trigger.addClass("faq-o");
              }
            });
        </script>
        
        
        
        
        
        
        
        
        
        
{% endblock %}
    </body>
    {%endblock content %}
</html>
