{% extends '::base.html.twig'%}

{% block body %}

    <html class="no-js"> <!--<![endif]-->
        <head>

            <title>MicroSystem Solutions</title>

            <!-- meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">


        </head>
<div id="choisir_langue">Choisir la langue :
    <a href="{{ path('about', {'_locale' : 'fr'}) }}">FR</a> |
    <a href="{{ path('about', {'_locale' : 'en'}) }}">EN</a>
</div> 
        <body>

            <div id="about-page">

 
                <div class="main-content">

                    <!-- begin our story section -->

                    <section class="bg-white story">
                        <div class="container">
                            <div class="headline text-center">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <h2 class="section-title"> {{ 'translate.link25'|trans }}</h2>
                                    </div>
                                </div>
                            </div> <!-- /.headline -->

                            <div class="row">
                                <div class="col-md-10 col-md-offset-1 text-center">
                                    <p class="story-description">
                                        {{ 'translate.link11'|trans }}
                                    </p> <!-- /.story-description -->
                                </div>
                            </div>
                        </div>
                    </section>
 <h3><center> Compteur de nombre de visiteurs<span><a href="http://www.mon-compteur.fr"><img src="http://www.mon-compteur.fr/html_c01genv2-216571-1" border="0" /></a> </span></center></h3>                             

                    <section class="bg-light-gray skill">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2>{{ 'translate.link26'|trans }}</h2>
                                    <p>
                                       {{ 'translate.link12'|trans }}
                                        
                                    </p>

                                    <p>{{ 'translate.link13'|trans }}</p>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                            100%
                                        </div>
                                    </div> 

                                    <p>MS-IMMO </p>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                            100%
                                        </div>
                                    </div> 

                                </div>

                                <div class="col-md-6">
                                    <div class="skill-level">
                                        <p>{{ 'translate.link14'|trans }}</p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                100%
                                            </div>
                                        </div>

                                        <p>{{ 'translate.link15'|trans }} </p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                100%
                                            </div>
                                        </div>

                                        <p>{{ 'translate.link16'|trans }} </p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                100%
                                            </div>
                                        </div>

                                        <p>{{ 'translate.link17'|trans }}</p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                100%
                                            </div>
                                        </div>

                                        <p>MS-Budget</p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                100%
                                            </div>



                                        </div> <!-- /.skill-level -->

                                        <p>MS-Car</p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                100%
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </section>



                </div> 


              <footer>
                <div class="container">
                    <div class="row">

                        <!-- useful links -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>{{ 'translate.link155'|trans }}</h4>
                            <ul class="row footer-links">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="{{path('acceuil')}}">{{ 'translate.link145'|trans }}</a></li>
                                    <li><a href="{{path('about')}}">{{ 'translate.link146'|trans }}</a></li>
                                    <li><a href="{{path('service')}}">Service</a></li>
                                    <li><a href="{{path('Reference')}}">Réferénce</a></li>
                                    <li><a href="{{path('MS-Compta')}}">{{ 'translate.link147'|trans }}</a></li>  
                                    <li><a href="{{path('MS-Cars')}}">MS-Cars</a></li>
                                    <li><a href="{{path('MS-Haras')}}">MS-Haras</a><li>
                                    <li><a href="{{path('devi_new')}}">{{ 'translate.link148'|trans }}</a><li>    
                                    <li><a href="{{path('myapplication_contact')}}">Contact</a></li>
                                </div>

                              
                            </ul>
                        </div>
                                
                          <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>{{ 'translate.link156'|trans }}</h4>
                            <ul class="row footer-links">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="{{path('MS-Compta')}}">{{ 'translate.link149'|trans }}</a></li>
                                    <li><a href="{{path('MS-Achat')}}">{{ 'translate.link150'|trans }}</a></li>
                                    <li><a href="{{path('MS-Budget')}}">MS-Budget</a></li>
                                    <li><a href="{{path('GestionComptable')}}">MS-Compta</a></li>
                                    <li><a href="{{path('MS-RH')}}">{{ 'translate.link152'|trans }}</a></li>
                                    <li><a href="{{path('MS-VE')}}">{{ 'translate.link153'|trans }}</a></li>
                                   
                                </div>

                              
                            </ul>
                        </div>        
                                

                        <!-- recent news -->
             

                        <!-- news-letter -->
                  

                        <!-- about avada agency -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>MicroSystem Solutions </h4>

                         

                            <div class="footer-address">
                                <p>
                                    {{ 'translate.link162'|trans }} <br>
                                    APP 9 Residence el Hakim Av de paris Ben Arous
                                    <br>
                             
                           
                                
                            </div>
                          
                       
                        </div> <!-- /.footer-widget -->
                         
                         <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                           

                         

                            <div class="footer-address">
                              
                                <p> Email <br>
                                    microsysteme@gnet.tn
                                </p>
                            
                                
                            </div>
                          
                       
                        </div>
                        
                                <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                           

                         

                            <div class="footer-address">
                              
                               
                                <p> Tél 
                                    <br>  
                                    (+216) 79 391 087 <br>
                                    (+216) 79 391 088 
                                </p>
                                <p>   Fax
                                    
                                    +216 79 391 056
                                    
                             
                                </p>
                                
                            </div>
                          
                       
                        </div> 
                        
                        
                    </div>
                    
                    <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                       <div class="container">
                    
                        <div class="navbar-header">
                        
                            <!-- navbar logo -->
                            <div class="navbar-brand">
                           
                            <a href="#">
                             @2018 All Rights Reserved. Designed by MicroSystem Solutions
                            </a>
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                    <!-- nav links -->
                     
                </div><!-- /.container -->
            </nav>
                                
                </div>
            </footer>


            </div>


        </body>
    </html>

{%endblock  %}