{% extends '::base.html.twig'%}

{% block body %}

    <html class="no-js"> <!--<![endif]-->
        <head>

            <title>MicroSystem Solutions</title>

            <!-- meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">


        </head>

        <body>

            <div id="about-page">

 
                <div class="main-content">

                    <!-- begin our story section -->

                    <section class="bg-white story">
                        <div class="container">
                            <div class="headline text-center">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <h2 class="section-title">Les plus</h2>
                                    </div>
                                </div>
                            </div> <!-- /.headline -->

                            <div class="row">
                                <div class="col-md-10 col-md-offset-1 text-center">
                                    <p class="story-description">
                                        MicroSystem Solutions est specialisée dans le domaine des nouvelles technologies de l'information et de la communication.
                                        Située a Ben Arous et a Boumhel ,elle répond aux besoins des pme/pmi,des artisans,des commercants,des professions libérales ,des particuliers 
                                        qui cherchent une entreprise informatique de proximité qui puisse assurer l'ensemble des taches de maintenance de de développement.
                                        Ses solutions sont diffusées par un réseau d'agences et de centres de compétences répartis sur tout le territoire national.
                                    </p> <!-- /.story-description -->
                                </div>
                            </div>
                        </div>
                    </section>


                    <section class="bg-light-gray skill">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2>Nos solutions</h2>
                                    <p>
                                        MicroSystem Solutions propose des solutions des en main depuis la creation du projet  jusqu'au transfert des compétences aux équipes internes et finalement jusqu'au suivi dans le temps ,avec des journées de conseil ou des interventions d'expertise .<br>
                                        Les solutions proposées couvrent les différents domaines de gestion de l'entreprise 
                                    </p>

                                    <p>MS-Achat</p>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                            100%
                                        </div>
                                    </div> 

                                    <p>MS-IMMO </p>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                            100%
                                        </div>
                                    </div> 

                                </div>

                                <div class="col-md-6">
                                    <div class="skill-level">
                                        <p>Comptoir</p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                100%
                                            </div>
                                        </div>

                                        <p>MS-PAIE </p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                100%
                                            </div>
                                        </div>

                                        <p>MS-Compta </p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                100%
                                            </div>
                                        </div>

                                        <p>MS-Vente</p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                100%
                                            </div>
                                        </div>

                                        <p>MS-Budget</p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                100%
                                            </div>



                                        </div> <!-- /.skill-level -->

                                        <p>MS-Car</p>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                100%
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                    </section>



                </div> 


                <footer>
                    <div class="container">
                        <div class="row">

                            <!-- useful links -->
                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <h4>Liens</h4>
                                <ul class="row footer-links">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                        <li><a href="{{path('about')}}">About</a></li>
                                        <li><a href="{{path('service')}}">Service</a></li>
                                        <li><a href="{{path('MS-Compta')}}">Nos produits</a></li>
                                        <li><a href="{{path('MS-Cars')}}">MS-Cars</a></li>
                                        <li><a href="{{path('MS-Haras')}}">MS-Haras</a><li>
                                        <li><a href="{{path('myapplication_contact')}}">Contact</a></li>
                                    </div>


                                </ul>
                            </div>
                <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Logiciel Erp</h4>
                            <ul class="row footer-links">
                              <div class="col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="{{path('MS-Compta')}}">Comptoir -Gestion Commerciale</a></li>
                                    <li><a href="{{path('MS-Achat')}}">MS-Achat</a></li>
                                    <li><a href="{{path('MS-Budget')}}">MS-Budget</a></li>
                                    <li><a href="{{path('GestionComptable')}}">MS-Compta</a></li>
                                    <li><a href="{{path('MS-RH')}}">MS-Paie & RH</a></li>
                                    <li><a href="{{path('MS-VE')}}">MS-Vente</a></li>
                                    
                                </div>

                              
                            </ul>
                        </div>                              
                                    
                                    
                                    

                            <!-- recent news -->


                            <!-- news-letter -->


                            <!-- about avada agency -->
                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <h4>MicroSystem Solutions </h4>



                                <div class="footer-address">
                                    <p>
                                        Adresse <br>
                                        59,Avenue de france,Entrée n 2,App.N6,2013,Ben Arous
                                        <br>



                                </div>


                            </div> <!-- /.footer-widget -->

                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">


                                <div class="footer-address">

                                    <p> Email <br>
                                        microsysteme@gnet.tn
                                    </p>


                                </div>


                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">




                                <div class="footer-address">


                                    <p> Tél 
                                        <br>  
                                        (+216) 79 391 087 <br>
                                        (+216) 79 391 088 
                                    </p>
                                    <p>   Fax

                                        +216 79 391 056


                                    </p>

                                </div>


                            </div> 


                        </div>

                        <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                            <div class="container">

                                <div class="navbar-header">

                                    <!-- navbar logo -->
                                    <div class="navbar-brand">

                                        <a href="#">
                                            @2018 All Rights Reserved. Designed by MicroSystem Solutions
                                        </a>
                                    </div>
                                    <!-- navbar logo -->

                                </div><!-- /.navbar-header -->

                                <!-- nav links -->

                            </div><!-- /.container -->
                        </nav>

                    </div>
                </footer>


            </div>


        </body>
    </html>

{%endblock  %}