{% extends '::base.html.twig'%}

{% block body %}


<!DOCTYPE html>


<html class="no-js"> <!--<![endif]-->
    <head>

        <title>Agency - Multiple Blog Page</title>

        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        
   

    </head>

    <body>
        <div id="multiple-blog-page">




           


            <section class="blog-content">
                <div class="container">
                    <div class="row">
                        <main class="col-md-9 col-md-push-3" style="display: block;">

                


                            <article class="blog-item">
                                
                                <div class="blog-heading">
                                     <h3 class="text-capitalize">MS-Achat – Gesti
achats et des
 
n des
 

approvisionnements
Pour une gestion optimale du processus d’approvisionnement de votre entreprise

</h3>
                                    <h3 class="text-capitalize">Description Générale</h3>
                                  
                                </div>
                                <p>
                             MS-ACHAT automatise le processus d’approvisionnement depuis l’expression des besoins jusqu’à la
réception de la marchandise et la mise à jour des stocks. Il prend en considération les différents
intervenants avec les natures des actions possibles (consultation, modification, suppression,
validation, annulation, clôture

                                </p>

                               
                            </article> <!-- /.blog-item -->


                            <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">1- Présentation de MS-Achat </h3>
                                   
                                </div>
                                <p>
                                    	Prise en considération du budget alloué ;<br>
                                    	Gain en temps : avec la possibilité de transformer les demandes d’achat en bon de livraison et/ou en bon de commande fournisseur ; ou transformer une offre de prix en un bon de commande.<br>
                                    	Consultation en temps réel du stock disponible, avec les commandes encours.<br>

MS-ACHAT offre en standard personnalisable une automatisation des obligations réglementaires afin de simplifier le processus. Avec sa gestion de Workflow intégrée, MS-Achat réduit la montée en charge organisationnelle (saisie des demandes d’achat, saisie des bons de commandes fournisseurs, suivi de l’état des commandes, …)


                                </p>

                               
                            </article> <!-- /.blog-item -->


                            <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">2-Une solution évolutive & personnalisable  </h3>
                                    
                                </div>
                                <p>
                                    	Les données du module MS-ACHAT sont paramétrables : liste des pays, banques, taux de TVA, dépôts, natures d’articles, familles de fournisseurs, fournisseurs, civilités,… <br>
 
	Paramétrage de la
 
codification des
 
articles :	par	famille/sous-famille, numérotation automatique,… <br>
 
	Paramétrage de la
 
codification des
 
fournisseurs : selon le code comptable en vigueur ;<br>

	Personnalisation des fiches articles et des fiches fournisseurs par des champs libres;<br>
	Classification des fournisseurs par famille, par natures d’articles, par civilité,…<br>



                                </p>

                                
                            </article> <!-- /.blog-item -->

              <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">3-Fonctionnalités  </h3>
                                    
                                </div>
                                <p>
                                    	Suivi des demandes d’achats internes par structure depuis la création de la demande jusqu’à la livraison de la marchandise, tout en prenant en considération les étapes de validation par les supérieurs hiérarchiques, les magasiniers ;<br>
                             	Suivi des livraisons internes et mise à jour des stocks ;<br>
                             	Suivi des offres de prix et édition du tableau comparatif des prix ;<br>
                             	Possibilité de transformation d’une offre de prix en un bon de commande ;<br>
                             	Suivi du cycle de vie d’un bon de commande depuis la création jusqu’à la clôture et des réceptions correspondantes ;<br>
                             	Prise en considération des livraisons partielles ;<br>
                             	Suivi de la facturation fournisseur ;<br>
                             	Ajustement des factures ;<br>
                             	Suivi des délais de livraisons et des retards, avec prise en considération de la pénalité.<br>



                                </p>

                                
                            </article> <!-- /.blog-item -->
                      <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">4-	Analyse multidirectionnelles & éditions paramétrables  </h3>
                                    
                                </div>
                                <p>
                                    	Edition du journal des achats selon des critères personnalisables (famille, fournisseurs, articles,…)<br>
                                    	Edition des états récapitulatifs des achats ;<br>
                                    	Analyse multiaxes de l’évolution de la consommation;<br>
                                    	Edition des journaux de livraison ;<br>
                                    	Edition des états récapitulatifs des factures;<br>
                                    	Autres états et éditions suivant les besoins de l’utilisateurs<br>




                                </p>

                            </article> <!-- /.blog-item -->              
            <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">5-Interopérabilité  </h3>
                                    
                                </div>
                                <p>
                                 MS-Achat s’interface automatiquement avec les différents modules de MS-ERP, tels que le module
                                 de gestion des ventes, le module de gestion budgétaire, le module de gestion comptable (analytique, tiers, …).


                                </p>

                                
                            </article> <!-- /.blog-item --
                            
                                </div>
                            </div>
                        </main>

               
                        <!-- end sidebar -->
                    </div>
                </div>
            </section>

   <footer>
                <div class="container">
                    <div class="row">

                        <!-- useful links -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Liens</h4>
                            <ul class="row footer-links">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="{{path('about')}}">About</a></li>
                                    <li><a href="{{path('service')}}">Service</a></li>
                                    <li><a href="{{path('MS-Compta')}}">Nos produits</a></li>
                                    <li><a href="{{path('myapplication_contact')}}">Contact</a></li>
                                </div>

                              
                            </ul>
                        </div>

                        <!-- recent news -->
             

                        <!-- news-letter -->
                  

                        <!-- about avada agency -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Micro Systeme </h4>

                         

                            <div class="footer-address">
                                <p>
                                    Adresse <br>
                                    59,Avenue de france,Entrée n 2,App.N6,2013,Ben Arous
                                    <br>
                             
                           
                                
                            </div>
                          
                       
                        </div> <!-- /.footer-widget -->
                         
                         <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                           

                         

                            <div class="footer-address">
                              
                                <p> Email <br>
                                    microsysteme@gnet.tn
                                </p>
                            
                                
                            </div>
                          
                       
                        </div>
                        
                                <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                           

                         

                            <div class="footer-address">
                              
                               
                                <p> Tél 
                                    <br>  
                                    (+216) 79 391 087 <br>
                                    (+216) 79 391 088 
                                </p>
                                <p>   Fax
                                    
                                    +216 79 391 056
                                    
                             
                                </p>
                                
                            </div>
                          
                       
                        </div> 
                        
                        
                    </div>
                    
                    <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                       <div class="container">
                    
                        <div class="navbar-header">
                        
                            <!-- navbar logo -->
                            <div class="navbar-brand">
                           
                            <a href="#">
                             @2018 All Rights Reserved. Designed by Micro Systeme
                            </a>
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                    <!-- nav links -->
                     
                </div><!-- /.container -->
            </nav>
                                
                </div>
            </footer>

            <!-- footer-navigation end -->
            
        </div> <!-- end of /#home-page -->

        <!--  Necessary scripts  -->                

        
        


    </body>
</html>

{%endblock  %}
