{% extends '::base.html.twig'%}

{% block body %}


    <!DOCTYPE html>


    <html class="no-js"> <!--<![endif]-->
        <head>

            <title>Agency - Multiple Blog Page</title>

            <!-- meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">




        </head>

        <body>


                <section class="blog-content">
                    <div class="container">
                        <div class="row">
                            

                            
                            <main class="col-md-9 col-md-push-3" style="display: block;">

                            

                     <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{asset('templates/images/100.jpg')}}" alt="Los Angeles">
                    </div>

                    <div class="item">
                        <img src="{{asset('templates/images/200.jpg')}}" alt="Chicago">
                    </div>

                    <div class="item">
                        <img src="{{asset('templates/images/300.jpg')}}" alt="New York">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>  

            


                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize">
                                            MS-Cars



                                        </h3> 
                                        <h3 class="text-capitalize">Description Générale</h3>

                                    </div>
                                    <p>
                                        L'application MS-Cars sert à automatiser le processus de la gestion du parc auto pour des sociétés : 
                                        Les principaux modules de l'application parc auto sont :<br>
                                        * Paramétrage : Gestion des cabinets, directions, services, pays, permis de conduire...<br>
                                        * Gestion Administrative : Gestion des personnels, Gestion des véhicules, Gestion des affectations des véhicules. * Gestion de l’exploitation : Gestion des réservations, Planification des réservations, Ordres des missions. * Gestion technique : Gestion des ateliers, Gestion des techniciens, Gestion des interventions, Planification des interventions. * Bons de carburant : Gestion des bons de carburant, Gestion de la distribution des bons, Gestion de retour de carburant. * Gestion des achats : Gestion des fournisseurs, Bons de commande, Gestion des marchés. * Gestion de stocks : Gestion des ateliers, Gestion des articles, Gestion des magasins de stockage, les Entrées, les Sorties et le Suivi de stocks.<br>
                                        * Confidentialité : Gestion des utilisateurs, Gestion de leurs profils, Paramètres de connexion et la Gestion de l'administration de l'application.<br>



                                    </p>


                                </article> <!-- /.blog-item -->





                            </main>


                            <!-- end sidebar -->
                        </div>
                    </div>
                </section>

                <footer>
                    <div class="container">
                        <div class="row">

                            <!-- useful links -->
                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <h4>Liens</h4>
                                <ul class="row footer-links">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                        <li><a href="{{path('about')}}">About</a></li>
                                        <li><a href="{{path('service')}}">Service</a></li>
                                        <li><a href="{{path('MS-Compta')}}">Nos produits</a></li>
                                        <li><a href="{{path('myapplication_contact')}}">Contact</a></li>
                                    </div>


                                </ul>
                            </div>

                            <!-- recent news -->


                            <!-- news-letter -->


                            <!-- about avada agency -->
                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <h4>Micro Systeme </h4>



                                <div class="footer-address">
                                    <p>
                                        Adresse <br>
                                        59,Avenue de france,Entrée n 2,App.N6,2013,Ben Arous
                                        <br>



                                </div>


                            </div> <!-- /.footer-widget -->

                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">




                                <div class="footer-address">

                                    <p> Email <br>
                                        microsysteme@gnet.tn
                                    </p>


                                </div>


                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">




                                <div class="footer-address">


                                    <p> Tél 
                                        <br>  
                                        (+216) 79 391 087 <br>
                                        (+216) 79 391 088 
                                    </p>
                                    <p>   Fax

                                        +216 79 391 056


                                    </p>

                                </div>


                            </div> 


                        </div>

                        <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                            <div class="container">

                                <div class="navbar-header">

                                    <!-- navbar logo -->
                                    <div class="navbar-brand">

                                        <a href="#">
                                            @2018 All Rights Reserved. Designed by Micro Systeme
                                        </a>
                                    </div>
                                    <!-- navbar logo -->

                                </div><!-- /.navbar-header -->

                                <!-- nav links -->

                            </div><!-- /.container -->
                        </nav>

                    </div>
                </footer>

            </div> <!-- end of /#home-page -->

            <!--  Necessary scripts  -->











        </body>
    </html>


{%endblock  %}
