{% extends '::base.html.twig'%}

{% block body %}


    <html class="no-js"> <!--<![endif]-->
        <head>

            <title>MicroSystem Solutions</title>

            <!-- meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">



        </head>

        <body>
            <div id="multiple-blog-page">


                <!-- site-navigation start -->  

                <!-- site-navigation end -->
                <br>
       <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="{{asset('templates/images/1.png')}}" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="{{asset('templates/images/2.png')}}" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="{{asset('templates/images/3.png')}}" alt="">
                                </div>

                                <div class="item">
                                    <img class="slide-image" src="{{asset('templates/images/4.png')}}" alt="">
                                </div>

                                <div class="item">
                                    <img class="slide-image" src="{{asset('templates/images/5.png')}}" alt="">
                                </div>

                                <div class="item">
                                    <img class="slide-image" src="{{asset('templates/images/6.png')}}" alt="">
                                </div>

                                <div class="item">
                                    <img class="slide-image" src="{{asset('templates/images/7.png')}}" alt="">
                                </div>

                                <div class="item">
                                    <img class="slide-image" src="{{asset('templates/images/8.png')}}" alt="">
                                </div>


                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>
                <h3 style="color:#483D8B"> Vidéo Parc Auto </h3>
               <center> 
                <video controls preload="metadata" loop poster ="level-soleil.png">
                      <source src="{{asset('templates/videos/parcauto.mp4')}}"> 
                    <source src ="{{asset('templates/videos/parcauto.ogg')}}">

                </video>

              </center> 


                <section class="blog-content">
                    <div class="container">
                        <div class="row">
                            <main class="col-md-9 col-md-push-3" style="display: block;">

                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize" style="color:#483D8B">MS-Cars</h3>
                                        <h4 class="text-capitalize" style="color:#0000FF">Description Générale</h4>
                                    </div>
                                    
                                        Interface Homme Machine (IHM)  pour gestion de tracabilité Parc Auto<br>
                                   


                                </article> <!-- /.blog-item -->

                                <article class="blog-item">

                                    <div>
                                        <h3 style="color:#0000FF">Objectif </h3>

                                    </div>
                                    
                                        •	les responsabilités du gestionnaire de parc autombile:<br>
                                        •	Essentiellement administratives<br>
                                        •	Réception des marchandises a transporter<br> 
                                        •	Planification du transport <br>
                                        •	Emission des ordres de missions <br>
                                        •	Gestion des heures de travail (pointage des chauffeurs)<br>
                                        •	Emission des  notes de frais pour le chauffeur<br>
                                        •	Emission des document de transport  <br>
                                        Controle ,suivi et actualisation des documents des véhicules et des documents des chauffeurs<br>
                                        •	Suivi du controle technique des véhicules<br>
                                        •	Gestion des entrées et sorties des véhicules<br>
                                        •	Gestion de la tracabilité des véhicules sur le terrain <br>
                                        •	Controle des processus de gestion informatique de l'information <br>

                                    <h3 class="text-capitalize" style="color:#0000FF">les principales fonctionnalités <br> </h3>

                                    •	Gestion des stocks de consommables et de pieces de recharge<br>
                                    •	Gestion des ressources humaines (horaire  de travail)<br>
                                    •	Gestion de la maintenance <br>
                                    •	Planification des livraisons <br>
                                    •	Gestion des transports (tracibilité,documents de transport <br>


                                    </p>

                                </article> <!-- /.blog-item -->




                            </main>

                            <!-- begin sidebar -->
                            <aside class="col-md-3 col-md-pull-9">




                                <!-- begin tab-widget -->
                                <!-- /.tab-widget -->


                                <!-- begin faq-widget -->



                                <!-- begin tag-widget -->



                                <!-- begin archieve-widget  -->

                            </aside>
                            <!-- end sidebar -->
                        </div>
                    </div>
                </section>


                <footer>
                    <div class="container">
                        <div class="row">

                            <!-- useful links -->
                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <h4>Liens</h4>
                                <ul class="row footer-links">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                        <li><a href="{{path('about')}}">About</a></li>
                                        <li><a href="{{path('service')}}">Service</a></li>
                                        <li><a href="{{path('MS-Compta')}}">Nos produits</a></li>
                                        <li><a href="{{path('MS-Cars')}}">MS-Cars</a></li>
                                        <li><a href="{{path('MS-Haras')}}">MS-Haras</a><li>
                                        <li><a href="{{path('myapplication_contact')}}">Contact</a></li>
                                    </div>


                                </ul>
                            </div>
                                    
                  <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Logiciel Erp</h4>
                            <ul class="row footer-links">
                               <div class="col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="{{path('MS-Compta')}}">Comptoir -Gestion Commerciale</a></li>
                                    <li><a href="{{path('MS-Achat')}}">MS-Achat</a></li>
                                    <li><a href="{{path('MS-Budget')}}">MS-Budget</a></li>
                                    <li><a href="{{path('GestionComptable')}}">MS-Compta</a></li>
                                    <li><a href="{{path('MS-RH')}}">MS-Paie & RH</a></li>
                                    <li><a href="{{path('MS-VE')}}">MS-Vente</a></li>
                                </div>

                              
                            </ul>
                        </div>                            
                                    

                            <!-- recent news -->


                            <!-- news-letter -->


                            <!-- about avada agency -->
                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <h4>MicroSystem Solutions </h4>



                                <div class="footer-address">
                                    <p>
                                        Adresse <br>
                                        59,Avenue de france,Entrée n 2,App.N6,2013,Ben Arous
                                        <br>



                                </div>


                            </div> <!-- /.footer-widget -->

                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">




                                <div class="footer-address">

                                    <p> Email <br>
                                        microsysteme@gnet.tn
                                    </p>


                                </div>


                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">




                                <div class="footer-address">


                                    <p> Tél 
                                        <br>  
                                        (+216) 79 391 087 <br>
                                        (+216) 79 391 088 
                                    </p>
                                    <p>   Fax

                                        +216 79 391 056


                                    </p>

                                </div>


                            </div> 


                        </div>

                        <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                            <div class="container">

                                <div class="navbar-header">

                                    <!-- navbar logo -->
                                    <div class="navbar-brand">

                                        <a href="#">
                                            @2018 All Rights Reserved. Designed by MicroSystem Solutions
                                        </a>
                                    </div>
                                    <!-- navbar logo -->

                                </div><!-- /.navbar-header -->

                                <!-- nav links -->

                            </div><!-- /.container -->
                        </nav>

                    </div>
                </footer>


            </div> <!-- end of /#home-page -->

            <!--  Necessary scripts  -->




        </body>
    </html>

{%endblock  %}        