{% extends '::base.html.twig'%}

{% block body %}


<!DOCTYPE html>


<html class="no-js"> <!--<![endif]-->
    <head>

        <title>Agency - Multiple Blog Page</title>

        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        
   

    </head>

    <body>
        <div id="multiple-blog-page">




           


            <section class="blog-content">
                <div class="container">
                    <div class="row">
                        <main class="col-md-9 col-md-push-3" style="display: block;">

                


                            <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h2 class="text-capitalize">Comptoir -Gestion commerciale </h2>
                                    <h3 class="text-capitalize">Description Générale</h3>
                                  
                                </div>
                                <p>
le logiciel comptoir assure le suivi et le contrôle de toutes les activités commerciales de l'entreprise.
Il permet la réalisation des pièces comptables pour l'achat et la vente des produits et services:
bons de livraison ou facture d'achat ,bons de livraisons ,factures, offres de prix,commandes client/fournisseur ,avoir,...)
Outre la facturation et la gestion du stock en multi-depots,Comptoir permet de nombreuses analyses multicritères.
Il assure, avec son échéancier intègre le suivi du paiement des factures d'achat et de vente.
Il permet également de calculer la marge bénéficiaire par article, par client ou pour opération bien 
détermine .
II gère les commerciaux et calcule le chiffre d'affaires réalisé par  commercial. 
II S'agit d'un logiciel multiutilisateur pouvant fonctionner en réseau avec  génération dynamique 
des menus en fonction des profils des utilisateurs .
Ses éditions sont exportables aux formats pdf et html.
II est hautement sécurisé avec des comptes d'utilisateurs associés a des profils de gestion.
Vous n'aurez plus besoin de papier entete,les pièces commerciales et les états sont édités avec
l'entete,le logo et les coordonnées de l'entreprise avec le modèle que vous choisissez.

                                </p>

                                
                            </article> <!-- /.blog-item -->


                            <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3>Liste des fonctionnalités<h3>
                                    <h3 class="text-capitalize">1-Gestion des articles </h3>
                                   
                                </div>
                                <p>
                        Classement par famille et par marque d'articles.
                      •	Informations comptables :
Compte, Code,NGP,TVA <br>
•	Coefficient de marge par article <br>
•	Statistiques de vente et d'approvisionnement par article <br>
•	Mise en sommeil de l'article <br>

                                </p>

                                
                            </article> <!-- /.blog-item -->


                            <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">2-Gestion des fournisseurs  </h3>
                                    
                                </div>
                                <p>
•	Gestion des coordonnées et des informations légales du fournisseur 
      (Adresse, téléphone,fax,email,Matricule fiscal...)<br>
•	Famille de fournisseurs <br>
•	Calcul de l'encours: les bons de livraisons non facturés et les factures non réglées <br>
•	Edition de la fiche fournisseur, par facture ou par article qui résume <br>
les différentes opérations effectuées avec la fournisseur encours pour une période donnée


                                </p>

                                
                            </article> <!-- /.blog-item -->

 <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">3-Gestion des clients  </h3>
                                    
                                </div>
                                <p>
                                    •	Gestion des coordonnées et des informations légales du client (Adresse,télephones,fax,émail,matricule fiscal,...)<br>
•	Nombre illimité de contact <br>
•	Gestion des grilles de remise et des modes de règlement <br>
•	Grille tarifaire et tarif exceptionnel par client ou famille de clients<br>
•	Recalcul de l'encours  en temps réel (bon de livraison non facturés
et factures non réglées <br>
•	Edition de la fiche client par facture ou par article <br>
•	Gestion  de la TVA particulière (majoration de la TVA, exonération....) 



                                </p>

                                
                            </article> <!-- /.blog-item -->
   <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">4-Gestion des achats   </h3>
                                    
                                </div>
                                <p>
                             •	Gestion complète de la chaine des achats (commandes fournisseurs; bon de livraison, factures, factures périodiques) <br>
•	Mise a jour en temps réel du stock <br>
•	Prise en considération des remises attribuées par le fournisseur <br>




                                </p>

                                
                            </article> <!-- /.blog-item -->                        
   <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">5-Gestion des ventes   </h3>
                                    
                                </div>
                                <p>
 •	Gestion complète du cycle des ventes (offre de prix, commandes client, bon de livraison ,fiches d'interventions, factures, avoir ,....)<br>

•	Message d'avertissement si vente a perte et sur les articles en rupture du stock <br>
•	Gestion des grilles de remise et tarifaires globales ou par article <br>
•	Transformation d'une offre de prix en une commande client ou un bon de livraison  <br>
•	Gestion de portefeuilles d'offres de prix et de commandes clients  <br>
ou un bon de livraison et d'une commande client en un bon de livraison <br>
•	Mise a jour du stock en temps réel <br>
•	Calcul automatique de la marge bénéficiaire  <br>





                                </p>

                                
                            </article> <!-- /.blog-item -->     
                            
    <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">6-Gestion des stocks    </h3>
                                    
                                </div>
                                <p>
•	Bon de sotie/Bon d'entrée <br>
•	Valorisation du stock au prix moyen pondéré ou dernier prix du revient <br>
•	Impression des mouvements du stock, état du stock ,disponibilité des articles, réapprovisionnement <br>
•	Nombre illimité de dépôts avec dépôt principal <br>
•	Gestion des stocks par dépôt





                                </p>

                                
                            </article> <!-- /.blog-item -->                                
                            
      
                            
    <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">7-Gestion commerciaux   </h3>
                                    
                                </div> 
                                <p>
•	Fiche individuelle :coordonnées complètes(adresse,télephones,fax,email,...) <br>
•	Définition des règles de calcul des commissions <br>
•	Gestion du compte du commercial :affichage par liste des clients par secteur  <br>
•	Chiffre d'affaires réalise par mois <br>
•	Etat des commissions par commercial  <br>
•	Encours global du commercial <br>
•	Compte rendu mensuel par chiffre d'affaires HT et TTC <br>





                                </p>

                                
                            </article> <!-- /.blog-item -->                                
                            
   <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">8-Gestion Gestion des  règlements et échéancier    </h3>
                                    
                                </div>
                                <p>
•	Gestion des règlements  client fournisseur avec mémorisation des conditions (modes de règlement ,délai ,conditions commerciales....)<br>
•	Règlement unitaire (par facture),partiel ou global (plusieurs factures en même temps)<br>
•	Gestion des écarts de règlement <br>
•	Impression de l'échéancier pour  une période demandée <br>





                                </p>

                               
                            </article> <!-- /.blog-item -->     
   <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">9-Transfert comptable   </h3>
                                    
                                </div>
                                <p>
•	Transfert des données en comptabilité sans aucune ressaisie <br>
•	Impression automatique de la déclaration mensuelle des impôts <br>
•	Impression des journaux <br>





                                </p>

                               
                            </article> <!-- /.blog-item -->     
   <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">   10-Editions et statistiques </h3>
                                    
                                </div>
                                <p>
•	Edition de la liste des prix générale par famille et/ou par marque <br>
•	Inventaire du stock général par famille et/ou par marque <br>
•	Suivi des bons de livraison non facturés  <br>
•	Détail des factures selon le mode de règlement <br>
•	Répartition du chiffre d'affaires par client et/ou  par article <br>
•	Répartition de la marge bénéficiaire par client et/ou  par article <br>
•	Volume des achats <br>
•	Comparaison du chiffre d'affaires réalisé sur toute l'année ou pour
        une période donnée





                                </p>

                               
                            </article> <!-- /.blog-item -->                                 
                            
                            
                        </main>

               
                        <!-- end sidebar -->
                    </div>
                </div>
            </section>


      <footer>
                <div class="container">
                    <div class="row">

                        <!-- useful links -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Liens</h4>
                            <ul class="row footer-links">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="{{path('about')}}">About</a></li>
                                    <li><a href="{{path('service')}}">Service</a></li>
                                    <li><a href="{{path('MS-Compta')}}">Nos produits</a></li>
                                    <li><a href="{{path('myapplication_contact')}}">Contact</a></li>
                                </div>

                              
                            </ul>
                        </div>

                        <!-- recent news -->
             

                        <!-- news-letter -->
                  

                        <!-- about avada agency -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Micro Systeme </h4>

                         

                            <div class="footer-address">
                                <p>
                                    Adresse <br>
                                    59,Avenue de france,Entrée n 2,App.N6,2013,Ben Arous
                                    <br>
                             
                           
                                
                            </div>
                          
                       
                        </div> <!-- /.footer-widget -->
                         
                         <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                           

                         

                            <div class="footer-address">
                              
                                <p> Email <br>
                                    microsysteme@gnet.tn
                                </p>
                            
                                
                            </div>
                          
                       
                        </div>
                        
                                <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                           

                         

                            <div class="footer-address">
                              
                               
                                <p> Tél 
                                    <br>  
                                    (+216) 79 391 087 <br>
                                    (+216) 79 391 088 
                                </p>
                                <p>   Fax
                                    
                                    +216 79 391 056
                                    
                             
                                </p>
                                
                            </div>
                          
                       
                        </div> 
                        
                        
                    </div>
                    
                    <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                       <div class="container">
                    
                        <div class="navbar-header">
                        
                            <!-- navbar logo -->
                            <div class="navbar-brand">
                           
                            <a href="#">
                             @2018 All Rights Reserved. Designed by Micro Systeme
                            </a>
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                    <!-- nav links -->
                     
                </div><!-- /.container -->
            </nav>
                                
                </div>
            </footer>

        </div> <!-- end of /#home-page -->

        <!--  Necessary scripts  -->

        

  


 


     

    </body>
</html>   


{%endblock  %}