{% extends '::base.html.twig'%}

{% block body %}


    <!DOCTYPE html>


    <html class="no-js"> <!--<![endif]-->
        <head>

            <title>MicroSystem Solutions</title>

            <!-- meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">


        </head>

        <body>
            <div id="multiple-blog-page">



                <section class="blog-content">
                    <div class="container">
                        <div class="row">
                            <main class="col-md-9 col-md-push-3" style="display: block;">


                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize">
                                            MS-Compta – Gestion comptable
                                            Comptabilité générale ,
                                            Comptabilité analytique ,
                                            Comptabilité tiers

                                        </h3> 
                                        <h3 class="text-capitalize">Description Générale</h3>

                                    </div>
                                    <p>
                                        MS-Compta assure une gestion une tenue rigoureuse de la comptabilité de votre entreprise : générale, analytique et des tiers.
                                    </p>
                                </article> <!-- /.blog-item -->

                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize">1-Comptabilité générale </h3>

                                    </div>
                                    <p>
                                        	Génération automatique des écritures comptables à partir des autres modules : Achat, ventes, Paie,…<br>
                                        	Plan comptable paramétrable et pré-paramétré selon les normes comptables tunisiennes <br>
                                        	Gestion des écritures : saisie, lettrage, modification, annulation,…<br>
                                        	Gestion des écritures provisoires <br>
                                        	Rapprochement bancaire <br>
                                        	Lettrage automatique et manuel <br>
                                        	Gestion des modèles de saisie <br>
                                        	Edition paramétrables des états<br>
                                        o	Grand-livre, grand-livre analytique <br>
                                        o	Balance, balance analytique, balance générale et auxiliaire <br>
                                        o	Journaux	(auxiliaires,	centralisateurs, récapitulatifs, TVA, achat, vente,…)<br>
                                        o	Bilan, état de résultat, flux de trésorerie, schéma, solde intermédiaire de gestion,…)<br>
                                        o	Etats budgétaires <br>
                                        o	Déclaration TVA <br>
                                        o	Déclaration employeur <br>
                                        o	….


                                    </p>


                                </article> <!-- /.blog-item -->


                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize">2-Comptabilité Tiers  </h3>

                                    </div>
                                    <p>
                                        Grace à son module de comptabilité auxiliaire, MS-Compta traite les enregistrements et le suivi comptable des opérations d’achat et de vente avec les partenaires commerciaux (clients, fournisseurs) de votre entreprise.<br>

                                          o Gestion des retenues à la source <br>
                                          o Gestion des factures et des arriérés …<br>
                                         o Prise en considération des ventes à l’export <br>
                                         o Prise en considération des opérations d’achat locales et étrangères <br>
                                         o Gestion des provisions <br>
                                         o Paramétrage des éditions <br>
                                          o Balance tiers <br>
                                          o Relance clients <br>


                                    </p>


                                </article> <!-- /.blog-item -->

                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize">3-Comptabilité analytique

                                        </h3>

                                    </div>
                                    <p>

                                          Ventilation multiaxes en pourcentage et
                                          en montant <br>
                                         Définition des axes analytiques <br>
                                         Gestion des coûts cachés <br>
                                         Imputation par affectation (unité
                                        organisationnelle) et par nature d’activité.


                                    </p>

                                </article> <!-- /.blog-item -->
                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize">4-Analyse multidirectionnelles & éditions paramétrables  </h3>

                                    </div>
                                    <p>
                                         Bibliothèques d’états standards conformes à la réglementation tunisienne <br>
                                         Possibilité d’ajout et de modification des
                                          états <br>
                                         Analyse multiaxes des variantes de
                                          l’entreprise.<br>
                                         Autres états et éditions suivant les besoins de l’utilisateur.

                                    </p>


                                </article> <!-- /.blog-item -->              
                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize">5-Interopérabilité  </h3>

                                    </div>
                                    <p>
                                        MS-Compta s’interface automatiquement avec les différents modules de MS-ERP, <br>o tels que le module
                                        de gestion des ventes<br>o le module de gestion budgétaire<br>o le module de gestion des achats.

                                    </p>


                                </article> <!-- /.blog-item --
                                <div class="row">
                                    <div class= "col-md-6 col-md-offset-3 text-center">
                                        <ul class="pagination">
                                            <li><a href="#"> < </a></li>
                                            <li class="active">
                                                <a href="#">1 <span class="sr-only">(current)</span></a>
                                            </li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#"> > </a></li>
                                        </ul> <!-- /.pagination -->
                        </div>
                    </div>
                    </main>


                    <!-- end sidebar -->
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">

                <!-- useful links -->
                <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                    <h4>Liens</h4>
                    <ul class="row footer-links">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                            <li><a href="{{path('about')}}">About</a></li>
                            <li><a href="{{path('service')}}">Service</a></li>
                            <li><a href="{{path('MS-Compta')}}">Nos produits</a></li>
                            <li><a href="{{path('myapplication_contact')}}">Contact</a></li>
                        </div>


                    </ul>
                </div>

                <!-- recent news -->


                <!-- news-letter -->


                <!-- about avada agency -->
                <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                    <h4>MicroSystem Solutions </h4>



                    <div class="footer-address">
                        <p>
                            Adresse <br>
                            59,Avenue de france,Entrée n 2,App.N6,2013,Ben Arous
                            <br>

                    </div>


                </div> <!-- /.footer-widget -->

                <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">

                    <div class="footer-address">

                        <p> Email <br>
                            microsysteme@gnet.tn
                        </p>


                    </div>


                </div>

                <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">




                    <div class="footer-address">


                        <p> Tél 
                            <br>  
                            (+216) 79 391 087 <br>
                            (+216) 79 391 088 
                        </p>
                        <p>   Fax

                            +216 79 391 056


                        </p>

                    </div>


                </div> 


            </div>

            <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                <div class="container">

                    <div class="navbar-header">

                        <!-- navbar logo -->
                        <div class="navbar-brand">

                            <a href="#">
                                @2018 All Rights Reserved. Designed by MicroSystem Solutions
                            </a>
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                    <!-- nav links -->

                </div><!-- /.container -->
            </nav>

        </div>
    </footer>


</div> <!-- end of /#home-page -->

<!--  Necessary scripts  -->


</body>
</html>

{%endblock  %}