{% extends '::base.html.twig'%}

{% block body %}


    <!DOCTYPE html>


    <html class="no-js"> <!--<![endif]-->
        <head>

            <title>MicroSystem Solutions</title>

            <!-- meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">


        </head>

        <body>
            <div id="multiple-blog-page">
                
                <h3 style="color:#483D8B"> Vidéo MS-HARAS </h3>
               <center> 
                <video controls preload="metadata" loop poster ="level-soleil.png">
                      <source src="{{asset('templates/videos/MS-HARAS.mp4')}}"> 
                    <source src ="{{asset('templates/videos/MS-HARAS.ogg')}}">

                </video>

              </center> 
                

                <section class="blog-content">
                    <div class="container">
                        <div class="row">
                            <main class="col-md-9 col-md-push-3" style="display: block;">


                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize" style="color:#483D8B">MS-HARAS
                                            

                                        </h3>
                                        
                                        <h3 class="text-capitalize" style="color:#0000FF">Description Générale</h3>

                                    </div>
                                 
                                    Ms-haras c’est une application de gestion des haras qui permet<br>
                                    
                                    •	Le suivi sanitaire<br>
                                    •	Reproduction<br>
                                    •	Alimentation des chevaux avec une traçabilité de pedigrees et de l’arbre généalogiques 
                                    Qui détermine avec précision les origines de chaque cheval.<br>


                                </article> <!-- /.blog-item -->


                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize" style="color:#0000FF">1-Entrée/sortie </h3>

                                    </div>

                                    Ce module contient 3 sous modules :<br>

                                    Pour l’entrée, il nous permet d’ajouter des bons d’entrée ou on ajoute les chevaux qui ont entrée au haras, et saisir les informations du cheval :<br>
                                    
                                    •	Motif d’entrée<br>
                                    •	Statut<br>
                                    •	Visite a l’arrive<br>
                                    •	Les dates des vaccinations (grippe, rage…)<br>
                                     <br>
                                    Pour la sortie,<br>
                                    
                                    Il permet d’ajouter des bons de sortie :<br>
                                    •	Ajouter des bons  du sortie ou on ajoute les chevaux qui ont sortie des haras<br>
                                    •	Saisir le  motif de la sortie <br>
                                    
                                    <br>

                                    Pour le statut<br>
                                    
                                    •	On sélectionne le cheval qui a change son statut<br>
                                    •	Saisir son statut actuel<br>
        


                                </article> <!-- /.blog-item -->


                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize" style="color:#0000FF">2-Suivi sanitaire  </h3>

                                    </div>
                                  <br>
                                    Ce module concerne les actes vétérinaires des chevaux :<br>
                                    
                                    •	Les actes vétérinaires par cheval<br>
                                    •	Les actes vétérinaires par acte <br>
                                    •	Planification des actes vétérinaires<br>


                                </article> <!-- /.blog-item -->

                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize" style="color:#0000FF">3-Reproduction  </h3>

                                    </div>
                                  
                                    Ce module concerne la reproduction des chevaux :<br>
                                    
                                    •	Chaleur<br>
                                    •	Echographie<br>
                                    •	Etalon/Jument<br>

                                  

                                </article> <!-- /.blog-item -->
                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize" style="color:#0000FF">4-Semence congelé </h3>

                                    </div>
                                   <br>
                                    Ce module concerne les semences congelées, il permet :<br>
                                    
                                    •	Ajouter les semences congelées<br>
                                    •	Saisir les entrées de la semence congelée<br>
                                    •	Saisir les sorties de la semence congelée<br>

                                     <br>
                                   

                                </article> <!-- /.blog-item -->              
                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize" style="color:#0000FF">5-Frais d’interventions   </h3>

                                    </div>
                                 <br>
                                    Ce module  permet de faire la facturation :<br>
                                    
                                    •	Les actes vétérinaires <br>
                                    •	Frais de pension<br>
                                    •	Fraie de saillie <br>


                                  

                                </article> 
                                
                                      <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize" style="color:#0000FF">6-Paramétrage  </h3>

                                    </div>
                                 <br>
                                 Ce module contient tous les paramètres de l’application : <br>

                                 •	Entrées /sorties (motif du sortie, motifs d’entrées, visite a l’arrive, liste des propriétaires, motifs de changement du statut, pays, staut, gestion des chevaux) <br>
                                 •	L’intervention : (intervenants, unites, type d’intervention, gestion d’articles, voies) <br>
                                 •	Divers : (centre de production, frais de saillie, aliments, frais de pension) <br>



                                  

                                </article>             
                                           
                                              <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize" style="color:#0000FF">7- Confidentialité  </h3>

                                    </div>
                                 <br>
                                 Ce  module  il nous permet de faire : <br>

                                 •	Administration : (sauvegarder la base de donneés, consulter l’historique des sauvegardes, historique technique, suppression des données) <br>
                                 •	Gestion des profils : ou on trouve les différents profils (Administrateur, Gestionnaire…) <br>
                                 •	Utilisateurs : ou on peut ajouter, modifier,supprimer les utilisateurs . <br>
                                  <br>




                                  

                                </article> <!-- /.blog-item --                     

    </div>
</div>
</main>

                                <!-- end sidebar -->
                        </div>
                    </div>
                </section>

                <footer>
                    <div class="container">
                        <div class="row">

                            <!-- useful links -->
                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <h4>Liens</h4>
                                <ul class="row footer-links">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                        <li><a href="{{path('about')}}">About</a></li>
                                        <li><a href="{{path('service')}}">Service</a></li>
                                        <li><a href="{{path('MS-Compta')}}">Nos produits</a></li>
                                        <li><a href="{{path('MS-Cars')}}">MS-Cars</a></li>
                                        <li><a href="{{path('MS-Haras')}}">MS-Haras</a><li>
                                        <li><a href="{{path('myapplication_contact')}}">Contact</a></li>
                                    </div>


                                </ul>
                            </div>
                                    
                           <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Logiciel Erp</h4>
                            <ul class="row footer-links">
                                 <div class="col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="{{path('MS-Compta')}}">Comptoir -Gestion Commerciale</a></li>
                                    <li><a href="{{path('MS-Achat')}}">MS-Achat</a></li>
                                    <li><a href="{{path('MS-Budget')}}">MS-Budget</a></li>
                                    <li><a href="{{path('GestionComptable')}}">MS-Compta</a></li>
                                    <li><a href="{{path('MS-RH')}}">MS-Paie & RH</a></li>
                                    <li><a href="{{path('MS-VE')}}">MS-Vente</a></li>
                                   
                                </div>

                              
                            </ul>
                        </div>                   
                                    

                            <!-- recent news -->


                            <!-- news-letter -->


                            <!-- about avada agency -->
                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <h4>MicroSystem Solutions </h4>

                                <div class="footer-address">
                                    <p>
                                        Adresse <br>
                                        59,Avenue de france,Entrée n 2,App.N6,2013,Ben Arous
                                        <br>
                                </div>


                            </div> <!-- /.footer-widget -->

                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <div class="footer-address">

                                    <p> Email <br>
                                        microsysteme@gnet.tn
                                    </p>


                                </div>


                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <div class="footer-address">


                                    <p> Tél 
                                        <br>  
                                        (+216) 79 391 087 <br>
                                        (+216) 79 391 088 
                                    </p>
                                    <p>   Fax

                                        +216 79 391 056
                                    </p>

                                </div>
                            </div> 
                        </div>

                        <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                            <div class="container">

                                <div class="navbar-header">

                                    <!-- navbar logo -->
                                    <div class="navbar-brand">

                                        <a href="#">
                                            @2018 All Rights Reserved. Designed by MicroSystem Solutions
                                        </a>
                                    </div>
                                    <!-- navbar logo -->

                                </div><!-- /.navbar-header -->

                                <!-- nav links -->

                            </div><!-- /.container -->
                        </nav>

                    </div>
                </footer>

                <!-- footer-navigation end -->

            </div> <!-- end of /#home-page -->

            <!--  Necessary scripts  -->                
        </body>
    </html>

{%endblock  %}
