{% extends '::base.html.twig'%}

{% block body %}


<!DOCTYPE html>


<html class="no-js"> <!--<![endif]-->
    <head>

        <title>Agency - Multiple Blog Page</title>

        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        
   

    </head>

    <body>
        <div id="multiple-blog-page">




           


            <section class="blog-content">
                <div class="container">
                    <div class="row">
                        <main class="col-md-9 col-md-push-3" style="display: block;">

                


                            <article class="blog-item">
                                
                                <div class="blog-heading">
                                   <h3 class="text-capitalize">
MS-Paie & RH
Pour une gestion simple et efficace de votre entreprise


</h3> 
                                    <h3 class="text-capitalize">Description Générale</h3>
                                  
                                </div>
                                <p>
                              La stratégie de Microsystème est de couvrir l’ensemble des besoins fonctionnels et stratégiques de votre entreprise et qui s’articulent principalement autour de :<br>

                              	La gestion comptable ;<br>
                              	La gestion financière ;<br>
	La gestion des ressources humaines et de la paie ;<br>
	La gestion commerciale ;<br>
	La gestion de la relation client ;<br>
	La gestion de la production ;<br>
	La gestion de la maintenance ;<br>

Nous offrons également des tableaux de bord personnalisables avec des axes d’analyse multicritères afin de mettre le décisionnel à la portée du responsable.

Nos solutions sont disponibles en version intégrée ou modulaire selon la taille et la nature de l’activité de votre entreprise. Toutes nos offres se caractérisent par une gestion avancée de la confidentialité. Chaque utilisateur est associé à un profil dd’accès qui détaille la nature des accès qui lui sont accordés (création, consultation, modification, suppression) par objet (fenêtre , menu, champ,…). Ainsi, c’est à vous de décider « qui peut faire quoi ».

                                </p>

                                
                            </article> <!-- /.blog-item -->


                            <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">1-MS-RH & Paie </h3>
                                   
                                </div>
                                <p>
                           Les entreprises tunisiennes sont souvent soucieuses de bien gérer leurs masses salariéales tout en
                           respectant les règles et les normes législatives imposées par les administrations tunisiennes.<br>

C’est dans ce cadre que s’inscrit le logiciel MS-RH et Paie qui offre aux entreprises une solution évolutive fiable et flexible pour la maîtrise des enjeux de leur capital humain et le pilotage de leur masse salariale.<br>

MS-RH & Paie offre en standard personnalisable une automatisation des obligations réglementaires afin de simplifier le processus. Avec sa gestion de Workflow intégrée, MS-RH & Paie réduit la montée en charge organisationnelle (saisie des demandes de congés, saisie décentralisée des absences, …)

o	….



                                </p>

                                
                            </article> <!-- /.blog-item -->


                            <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">2-Gestion fiable de la paie adaptée à tous les contrats de travail et à toutes les conventions collectives  </h3>
                                    
                                </div>
                                <p>
                        
                Eviter les erreurs de calcul et gérer les contraintes légales sont primordial au niveau du processus de paie.

MS-RH & Paie est la solution la plus adaptée aux besoins de votre entreprise. Elle offre une gestion d’un nombre illimité de salariés avec un calcul automatique du rappel.

MS-RH & Paie convient aussi bien aux entreprises privées qu’aux entreprises appliquant des conventions collectives.

	Edition des bulletins de paie sous un format personnalisable selon les besoins de votre entreprise ;<br>
	Edition des duplicata des bulletins ;<br>
	Profil de paie (plan des rubriques) fourni en standard pré paramétré dans le respect des contraintes   légales   (cotisations   CNSS/CNRPS )<br>
       calcul   de   l’IRPP   selon   les   données introduites dans la fiche signalétique du salarié, assurance groupe ; avantages en nature ; TFP ; FOPROLOS,…) ;<br>
	Gestion de plusieurs exercices sur la même base de données ;<br>
	Fonction d’archivage des données ;<br>
	Edition des principaux états : journal de paie ; état des charges ; état des paiements ; livre de paie ; liste des salariés d’une paie ; liste des paies d’un salarié ;…) ;<br>
	Gestion du solde de tout compte ;<br>
	Prose en considération de la position du salarié (en activité ; en détachement ; sous les drapeaux,…) ;<br>
	Etat des déclarations sociales : Production de la déclaration CNSS sous format numérique ou en version imprimable ; production de la déclaration CNRP sous format numérique ou en version imprimable ; déclaration d’impôt ; déclaration employeur sous format numérique ou en version imprimable ;<br>
	Paiement des salariés sur plusieurs banques.<br>




                                </p>

                                
                            </article> <!-- /.blog-item -->

              <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">3-La gestion administrative

  </h3>
                                    
                                </div>
                                <p>
                                  
                              MS-RH & Paie offre une gestion complète et fiable de votre capital humain.

	Fiche salarié : Chaque salarié est associé à un matricule (avec une possibilité d’imatriculation automatique des salariés). Ce module gère toutes les données relatives à un salarié :
o	Etat civil : nom, prénom, nom de jeune fille, sexe, qualité, numéro de la C.I.N, date de livraison, nationalité, carte de séjour dans le cas d’un étranger,…<br>
o	Coordonnées : Adresse, téléphones, émail, site Web,…<br>
o	Informations bancaires : banque, agence, N° du compte, pourcentage dans le cas d’un virement multiple,…<br>
o	Composition familiale et conjoint ;<br>
o	Diplômes : liste des diplômes obtenus avec la date d’obtention, l’établissement, …<br>
o	Expériences antérieures : organisme et durée ;<br>
o	Caractéristiques physiques : taille, pointure, poids, si votre entreprise distribue des tenues de travail au personnel ;<br>
o	Historique des visites médicales effectuées dans l’entreprise par le médecin de travil ;<br>
o	Affectation : direction, département, service, section, lieu de travail ;…<br>
o	Contrat : type et nature du contrat, dates de début et de fin de la période d’essai,…<br>
o	Carrière : Echelle, échelon, grade, fonction, emploi,…<br>

Ces informations sont transmises automatiquement, au module paie notamment, au niveau de la composition familiale qui impacte le calcul de l’IRPP ou l’affectation et la carrière dans le cas des indemnités supplémentaires ( telles que la
prime de fonction, indemnité de logement,…).<br>

	Gestion disciplinaire<br>
o	Paramétrage de la liste des sanctions avec leurs degrés et leur impact sur la paie et sur la présence au travail ;<br>
o	Historisation des procès verbaux et des décisions des conseils de discipline ;<br>
o	Prise en considération de la retenue sur la paie ;<br>
o	Calcul automatique de la date d’épuration de la sanction.<br>
	Notation
o	Edition des tableaux prévisionnels avec l’historique des notes, des sanctions, des retards et des absences par salarié ;<br>
o	Historisation des notes annuelles pour tous les exercices ;<br>
o	Calcul automatique de la moyenne des notes.<br>
	Détachement
o	Prise en considération des agents en détachement ;<br>
o	Possibilité d’intégrer un agent détaché ou de radier un agent détaché.<br>


                                </p>

                                
                            </article> <!-- /.blog-item -->
                      <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">4-La gestion des temps et des activités </h3>
                                    
                                </div>
                                <p>
                                    La gestion des temps et des activités représente actuellement une activité transversale dans l’entreprise. En effet, une bonne gestion des T&A vous permet d’évaluer et d’optimiser la rentabilité de votre entreprise et de son capital humain.<br>

                                    MS-RH & Paie peut être interfacé avec tous les terminaux de pointage. Il importe les temps pointés et calcule le temps de travail effectué par chaque salarié.<br>

	Paramétrage des horaires de travail par unité organisationnelle et/ou par service avec la prise en considération des jours fériés et de l’horaire de ramadan ou d’été;<br>
	Calcul automatique du retard en secondes et des sorties avant heure en secondes selon les critères paramétrés respectant la réglementation interne de l’entreprise ;<br>
	Suivi et contrôle des présences en temps réel ;<br>
	Paramétrage des motifs d’absence avec le nombre de jours autorisés et leur impact sur la paie (congés de maladie, maternité,…) selon la réglementation en vigueur ;<br>
	Mise à jour automatique du solde des congés annules et report annuel des congés .<br>




Avec son système de Workflow intégré, MS-RH & Paie permet à vos collaborateurs de saisir à distance leurs demandes de congés. Ces demandes parviennent par émail au supérieur hiérarchique pour donner son avis.<br>

En structurant le flux d’information, MS-RH & Paie améliore la lisibilité des plannings et la coordination entre les collaborateurs.

	Prise en considération des heures supplémentaires avec les taux de majoration correspondants ;<br>
	Production du planning annuel des congés par unité organisationnelle ;<br>
	Edition du cahier de présence ;<br>
	Calcul des indicateurs de présence selon des axes d’analyse multicritères.<br>




                                </p>

                               
                            </article> <!-- /.blog-item -->              
            <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">5-Gestion de la formation  </h3>
                                    
                                </div>
                                <p>
                                    	Suivi des catalogues de formation avec les cours, le nombre de séances, la durée ainsi que le coût ;<br>
	Historique des formations suivies par salarié ;<br>
	Edition de la feuille de présence ;<br>
	Suivi du remboursement TFP.<br>



                                </p>

                               
                            </article> 
                            
              <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">6-Gestion sociale  </h3>
                                    
                                </div>
                                <p>
                                    	Assurance groupe<br>
o	Suivi des bulletins de soins ;<br>
o	Edition des bordereaux ;<br>
o	Suivi des remboursements ;<br>
o	Calcul des montants remboursés par prestataire et prise en considération du plafond.<br>
	Avance et prêts <br>
o	Paramétrage des prêts accordés au personnel avec le montant maximum, le taux d’intérêt, la mensualité, la durée de remboursement ainsi que la période de franchise ;<br>

o	Prise en considération du remboursement anticipé et de la suspension du remboursement ;<br>
o	Transfert systématique en paie ;<br>
o	Prise en considération des avances accordées au personnel avec leur impact sur la paie.<br>



                                </p>

                                
                            </article>                               
             <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">7-Gestion de la carrière  </h3>
                                    
                                </div>
                                <p>
                                  MS-RH & Paie s’adapte parfaitement à toutes les conventions collectives tunisiennes.

                                  	Simulation de l’avancement de carrière d’un salarié depuis son embauche jusqu’à sa sortie ;<br>
                                  	Avancement échelon suivant la réglementation ;<br>
	Edition des tableaux des avancements prévisionnels (échelle, grade, catégorie,…) en prenant en considération les données du dossier du salarié (historique des sanctions, retard, notes,…). Une fois validé, ce tableau impacte directement les dossiers des salariés concernés ;<br>
	Consultation de l’historique de tous les mouvements de carrière ;<br>




                                </p>

                               
                            </article>                                  
                                       
            <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">8-Gestion du recrutement  </h3>
                                    
                                </div>
                                <p>
                             MS-RH & Paie permet de gérer le processus de recrutement grâce à son outil d’aide à la
                             décision pour le classement des candidats selon des critères présélectionnés et personnalisables (relevés des notes, situation familiale, âge,…)<br>
	Gestion des candidatures<br>
	édition des décisions de recrutement<br>
	Gestion des postes<br>
	liaison poste candidat<br>






                                </p>

                                
                            </article>                         
                            
                            
                            
                            
                        </main>

               
                        <!-- end sidebar -->
                    </div>
                </div>
            </section>


       <footer>
                <div class="container">
                    <div class="row">

                        <!-- useful links -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Liens</h4>
                            <ul class="row footer-links">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="{{path('about')}}">About</a></li>
                                    <li><a href="{{path('service')}}">Service</a></li>
                                    <li><a href="{{path('MS-Compta')}}">Nos produits</a></li>
                                    <li><a href="{{path('myapplication_contact')}}">Contact</a></li>
                                </div>

                              
                            </ul>
                        </div>

                        <!-- recent news -->
             

                        <!-- news-letter -->
                  

                        <!-- about avada agency -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Micro Systeme </h4>

                         

                            <div class="footer-address">
                                <p>
                                    Adresse <br>
                                    59,Avenue de france,Entrée n 2,App.N6,2013,Ben Arous
                                    <br>
                             
                           
                                
                            </div>
                          
                       
                        </div> <!-- /.footer-widget -->
                         
                         <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                           

                         

                            <div class="footer-address">
                              
                                <p> Email <br>
                                    microsysteme@gnet.tn
                                </p>
                            
                                
                            </div>
                          
                       
                        </div>
                        
                                <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                           

                         

                            <div class="footer-address">
                              
                               
                                <p> Tél 
                                    <br>  
                                    (+216) 79 391 087 <br>
                                    (+216) 79 391 088 
                                </p>
                                <p>   Fax
                                    
                                    +216 79 391 056
                                    
                             
                                </p>
                                
                            </div>
                          
                       
                        </div> 
                        
                        
                    </div>
                    
                    <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                       <div class="container">
                    
                        <div class="navbar-header">
                        
                            <!-- navbar logo -->
                            <div class="navbar-brand">
                           
                            <a href="#">
                             @2018 All Rights Reserved. Designed by Micro Systeme
                            </a>
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                    <!-- nav links -->
                     
                </div><!-- /.container -->
            </nav>
                                
                </div>
            </footer>

            
        </div> <!-- end of /#home-page -->

        <!--  Necessary scripts  -->

        

  


 


     

    </body>
</html>
        

{%endblock  %}
