{% extends '::base.html.twig'%}

{% block body %}


<!DOCTYPE html>


<html class="no-js"> <!--<![endif]-->
    <head>

        <title>Agency - Multiple Blog Page</title>

        <!-- meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        
   

    </head>

    <body>
        <div id="multiple-blog-page">




           


            <section class="blog-content">
                <div class="container">
                    <div class="row">
                        <main class="col-md-9 col-md-push-3" style="display: block;">

                


                            <article class="blog-item">
                                
                                <div class="blog-heading">
                                   <h3 class="text-capitalize">
MS-Vente – Gestion des ventes
la gestion efficace de la chaine de facturation



</h3> 
                                    <h3 class="text-capitalize">Description Générale</h3>
                                  
                                </div>
                                <p>
                                MS-VENTE assure une gestion efficace et rigoureuse de la chaîne de facturation : devis, bons de commande, factures, bons de livraison, avoirs, bons de retours,… Grâce à son outil d’édition intégrée,
 
MS-Vente permet une analyse multicritères des opérations de vente avec une graphique des statistiques.


                                </p>

                                
                            </article> <!-- /.blog-item -->


                            <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">1-Présentation de MS-Vente </h3>
                                   
                                </div>
                                <p>
                                    	Prise en considération du budget alloué ;<br>
	Gain en temps : avec la possibilité de transformer les offres de prix en bon de livraison et/ou en factures ;<br>
	Prise en considération des ventes au comptant ;<br>
	Prise en considération des différentes natures de vente : (en suspension de la TVA, exonération de la TVA,..) et des
différentes	taxes	selon	la
réglementation en vigueur (taux de TVA, timbre fiscal,…).<br>

MS-Vente assure le suivi et le contrôle des livraisons, ainsi que la prise en charge des commandes client.



                                </p>

                            </article> <!-- /.blog-item -->


                            <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">2-Une solution évolutive & personnalisable  </h3>
                                    
                                </div>
                                 <p>
                        
               	Les données du module MS-Vente	sont
 
paramétrables : liste pays, banques, taux
 
des de
 
TVA,	dépôts,	natures
d’articles,	familles	de
clients, clients, modes de règlement,…<br>
	Paramétrage	de	la
codification des articles : par	famille/sous-famille,
catégorie, numérotation automatique,…<br>

	Paramétrage de la codification des clients : selon le code comptable en vigueur ;<br>
	Personnalisation des fiches articles et des fiches clients par des champs libres;<br>
	Classification des clients par famille, par natures d’articles, par civilité,…<br>




                                </p>

                                
                            </article> <!-- /.blog-item -->

              <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">3-Fonctionnalités

  </h3>
                                    
                                </div>
                                <p>
                                  
              
                                    	Suivi des devis et des conventions ;<br>
                                    	suivi des commandes client ;<br>
                                    	Possibilité de transformation d’une offre de prix en un bon de commande client ;<br>
                                    	Suivi du cycle de vie d’un bon de commande depuis la création jusqu’à la clôture et des livraisons correspondantes ;<br>
                                    	Prise en considération des livraisons partielles ;<br>
                                    	Suivi de la facturation;<br>


                                </p>

                                
                            </article> <!-- /.blog-item -->
                      <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">4-Analyse multidirectionnelles & éditions paramétrables </h3>
                                    
                                </div>
                                <p>
                                    
                            	Edition du journal des ventes selon des critères personnalisables (famille, clients, articles,…)<br>
                            	Edition des états récapitulatifs des ventes ;<br>
                            	Analyse multiaxes de l’évolution du chiffre d’affaires;<br>
                            	Edition des journaux de livraison ;<br>
	Edition des états récapitulatifs pour les différentes pièces (devis, bons de livraison, factures, avoirs,…);<br>
	Edition du journal des commandes (carnet des affaires encours) ;
	Edition du journal de TVA ;<br>
	Edition de la déclaration TVA ;<br>
	Edition de la déclaration employeur ;<br>
	Autres états et éditions suivant les besoins de l’utilisateur.<br>



                                </p>

                            </article> <!-- /.blog-item -->              
            <article class="blog-item">
                                
                                <div class="blog-heading">
                                    <h3 class="text-capitalize">5-Interopérabilité  </h3>
                                    
                                </div>
                                <p>
                                 
MS-Vente s’interface automatiquement avec les différents modules de MS-ERP, tels que le module
de gestion des approvisionnements et des achats, le module de gestion budgétaire, le module de gestion comptable (analytique, tiers, …).<br>

	Rapprochement budgétaire et comptable ;<br>
	Edition du budget projet ;<br>
	…
    



                                </p>

                                
                            </article> 
                            
                              
                                     
                                       
                              
                            
                            
                            
                            
                        </main>

               
                        <!-- end sidebar -->
                    </div>
                </div>
            </section>

    <footer>
                <div class="container">
                    <div class="row">

                        <!-- useful links -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Liens</h4>
                            <ul class="row footer-links">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="{{path('acceuil')}}">Acceuil</a></li>
                                    <li><a href="{{path('about')}}">About</a></li>
                                    <li><a href="{{path('service')}}">Service</a></li>
                                    <li><a href="{{path('MS-Compta')}}">Nos produits</a></li>
                                    <li><a href="{{path('myapplication_contact')}}">Contact</a></li>
                                </div>

                              
                            </ul>
                        </div>

                        <!-- recent news -->
             

                        <!-- news-letter -->
                  

                        <!-- about avada agency -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>Micro Systeme </h4>

                         

                            <div class="footer-address">
                                <p>
                                    Adresse <br>
                                    59,Avenue de france,Entrée n 2,App.N6,2013,Ben Arous
                                    <br>
                             
                           
                                
                            </div>
                          
                       
                        </div> <!-- /.footer-widget -->
                         
                         <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                           

                         

                            <div class="footer-address">
                              
                                <p> Email <br>
                                    microsysteme@gnet.tn
                                </p>
                            
                                
                            </div>
                          
                       
                        </div>
                        
                                <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                           

                         

                            <div class="footer-address">
                              
                               
                                <p> Tél 
                                    <br>  
                                    (+216) 79 391 087 <br>
                                    (+216) 79 391 088 
                                </p>
                                <p>   Fax
                                    
                                    +216 79 391 056
                                    
                             
                                </p>
                                
                            </div>
                          
                       
                        </div> 
                        
                        
                    </div>
                    
                    <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                       <div class="container">
                    
                        <div class="navbar-header">
                        
                            <!-- navbar logo -->
                            <div class="navbar-brand">
                           
                            <a href="#">
                             @2018 All Rights Reserved. Designed by Micro Systeme
                            </a>
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                    <!-- nav links -->
                     
                </div><!-- /.container -->
            </nav>
                                
                </div>
            </footer>

        </div> <!-- end of /#home-page -->

        <!--  Necessary scripts  -->

        

  


 


     

    </body>
</html>

                   
{%endblock  %}
