{% extends '::base.html.twig'%}

{% block body %}


    <!DOCTYPE html>


    <html class="no-js"> <!--<![endif]-->
        <head>

            <title>MicroSystem Solutions</title>

            <!-- meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">

        </head>

   <div id="choisir_langue">Choisir la langue :
    <a href="{{ path('MS-VE', {'_locale' : 'fr'}) }}">FR</a> |
    <a href="{{ path('MS-VE', {'_locale' : 'en'}) }}">EN</a>
</div>   
        <body>
            <div id="multiple-blog-page">

                <section class="blog-content">
                    <div class="container">
                        <div class="row">
                            <main class="col-md-9 col-md-push-3" style="display: block;">

      <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize" style="color:#483D8B">
                                            {{ 'translate.link132'|trans }}

                                        </h3> 
                                        <h3 class="text-capitalize" style="color:#0000FF"> {{ 'translate.link133'|trans }}</h3>

                                    </div>
                                   {{ 'translate.link134'|trans }}
                                        

                                </article> <!-- /.blog-item -->

                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize" style="color:#0000FF"> {{ 'translate.link135'|trans }} </h3>

                                    </div>
                                                       
                                {{ 'translate.link136'|trans }}
                                </article> <!-- /.blog-item -->


                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize" style="color:#0000FF">   {{ 'translate.link137'|trans }} </h3>

                                    </div>
                                  
                                {{ 'translate.link138'|trans }}
                                

                                  

                                </article> <!-- /.blog-item -->

                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize" style="color:#0000FF"> {{ 'translate.link139'|trans }}</h3>

                                        

                                    </div>
                                 
                                    {{ 'translate.link140'|trans }}
                                      



                                </article> <!-- /.blog-item -->
                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize" style="color:#0000FF">{{ 'translate.link141'|trans }} </h3>

                                    </div>
                                 
                                {{ 'translate.link142'|trans }}
                             




                                </article> <!-- /.blog-item -->              
                                <article class="blog-item">

                                    <div class="blog-heading">
                                        <h3 class="text-capitalize" style="color:#0000FF"> {{ 'translate.link143'|trans }} </h3>

                                    </div>
                                  
                                     {{ 'translate.link144'|trans }}
                                   
<h3 class="text-capitalize" style="color:#483D8B"> Pour telecharger la version pdf du vente </h3> <br>

Cliquer sur ce lien <br><br>
 
 
<p><a href="{{asset('templates/images/vente.pdf')}}">telecharger la version pdf du vente</a></p>
                                 


                                </article> 

                            </main>


                            <!-- end sidebar -->
                        </div>
                    </div>
                </section>

               <footer>
                <div class="container">
                    <div class="row">

                        <!-- useful links -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>{{ 'translate.link155'|trans }}</h4>
                            <ul class="row footer-links">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="{{path('acceuil')}}">{{ 'translate.link145'|trans }}</a></li>
                                    <li><a href="{{path('about')}}">{{ 'translate.link146'|trans }}</a></li>
                                    <li><a href="{{path('service')}}">Service</a></li>
                                    <li><a href="{{path('Reference')}}">Réferénce</a></li>
                                    <li><a href="{{path('MS-Compta')}}">{{ 'translate.link147'|trans }}</a></li>  
                                    <li><a href="{{path('MS-Cars')}}">MS-Cars</a></li>
                                    <li><a href="{{path('MS-Haras')}}">MS-Haras</a><li>
                                    <li><a href="{{path('devi_new')}}">{{ 'translate.link148'|trans }}</a><li>    
                                    <li><a href="{{path('myapplication_contact')}}">Contact</a></li>
                                </div>

                              
                            </ul>
                        </div>
                                
                          <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>{{ 'translate.link156'|trans }}</h4>
                            <ul class="row footer-links">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <li><a href="{{path('MS-Compta')}}">{{ 'translate.link149'|trans }}</a></li>
                                    <li><a href="{{path('MS-Achat')}}">{{ 'translate.link150'|trans }}</a></li>
                                    <li><a href="{{path('MS-Budget')}}">MS-Budget</a></li>
                                    <li><a href="{{path('GestionComptable')}}">MS-Compta</a></li>
                                    <li><a href="{{path('MS-RH')}}">{{ 'translate.link152'|trans }}</a></li>
                                    <li><a href="{{path('MS-VE')}}">{{ 'translate.link153'|trans }}</a></li>
                                   
                                </div>

                              
                            </ul>
                        </div>        
                                

                        <!-- recent news -->
             

                        <!-- news-letter -->
                  

                        <!-- about avada agency -->
                        <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                            <h4>MicroSystem Solutions </h4>

                         

                            <div class="footer-address">
                                <p>
                                    {{ 'translate.link162'|trans }} <br>
                                    APP 9 Residence el Hakim Av de paris Ben Arous
                                    <br>
                             
                           
                                
                            </div>
                          
                       
                        </div> <!-- /.footer-widget -->
                         
                         <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                           

                         

                            <div class="footer-address">
                              
                                <p> Email <br>
                                    microsysteme@gnet.tn
                                </p>
                            
                                
                            </div>
                          
                       
                        </div>
                        
                                <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                           

                         

                            <div class="footer-address">
                              
                               
                                <p> Tél 
                                    <br>  
                                    (+216) 79 391 087 <br>
                                    (+216) 79 391 088 
                                </p>
                                <p>   Fax
                                    
                                    +216 79 391 056
                                    
                             
                                </p>
                                
                            </div>
                          
                       
                        </div> 
                        
                        
                    </div>
                    
                    <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                       <div class="container">
                    
                        <div class="navbar-header">
                        
                            <!-- navbar logo -->
                            <div class="navbar-brand">
                           
                            <a href="#">
                             @2018 All Rights Reserved. Designed by MicroSystem Solutions
                            </a>
                        </div>
                        <!-- navbar logo -->

                    </div><!-- /.navbar-header -->

                    <!-- nav links -->
                     
                </div><!-- /.container -->
            </nav>
                                
                </div>
            </footer>
            </div> <!-- end of /#home-page -->

            <!--  Necessary scripts  -->

        </body>
    </html>


{%endblock  %}
