{% extends "BackBundle::base.html.twig" %}

{% block A %}
    <div class="row">

        <div class="col-md-3">
            <p class="lead">Listes Des Articles</p>
            <div class="list-group">
                <a href="{{path('article_new')}}" class="list-group-item">Ajouter</a>
                <a href="{{path('article_modifier')}}" class="list-group-item">Modifier</a>
                <a href="{{path('article_index')}}" class="list-group-item">Afficher</a>
                <a href="{{path('article_recherche')}}" class="list-group-item">Recherche</a>


            </div>
        </div>    


        <div class="col-md-9">    

            <h1>Article creation</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-success" value="Ajouter" />
            {{ form_end(form) }}





        </div>    
    </div>
{% endblock A %}