{%  extends '::base.html.twig' %}
{%  block body %}
    
    
    <br>
    <br>
    
    <div id="choisir_langue">Choisir la langue :
        <a href="{{ path('contact1', {'_locale' : 'fr'}) }}">FR</a> |
        <a href="{{ path('contact1', {'_locale' : 'en'}) }}">EN</a>
    </div>

    <!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> 

    <html class="no-js"> <!--<![endif]-->
        <head>

            <title>MicroSysteme Solutions</title>

            <!-- meta -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">


            



        </head>

        <body>

            <div id="contact-page">


                <!-- site-navigation start -->  
                <nav id="mainNavigation" class="navbar navbar-dafault main-navigation" role="navigation">
                    <div class="container">

                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <!-- navbar logo -->

                            <!-- navbar logo -->

                        </div><!-- /.navbar-header -->

                        <!-- nav links -->


                    </div><!-- /.container -->
                </nav>
                <!-- site-navigation end -->



                <!-- header begin -->


                <img src="{{asset('templates/images/contact-bg.png')}}" class="img-responsive center-block">


                <br>
                <div claas="main-content">
                    <div class="container">

                        <!-- google map iframe -->

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3196.6059658111553!2d10.220578715288635!3d36.756028079957574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd366439948a3f%3A0xa8ca5415dce619ae!2sMicrosystem+Solutions!5e0!3m2!1sfr!2stn!4v1516546210554" width="1200" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>                       
                        <!-- /.g-map (google-map end) -->



                        <!-- contact adresses section begin -->
                        <section class="contact-address bg-white">
                            <div class="row">

                                <div class="col-md-4 col-xs-12">
                                    <div class="address-info">
                                        <div class="row">

                                            <div class="col-md-3 col-xs-3">
                                                <div class="address-info-icon text-center center-block bg-light-gray">
                                                    <i class="fa fa-map-marker"></i>
                                                </div> <!-- /.address-info-icon -->
                                            </div>

                                            <div class="col-md-9 col-xs-9 address-info-desc">
                                                <h3> {{ 'translate.link162'|trans }} </h3>
                                                <p>
                                                    APP 9 Residence el Hakim Av de paris  <br/>
                                                    Ben Arous
                                                </p>
                                            </div> <!-- /.address-info-desc -->

                                        </div>
                                    </div> <!-- /.address-info -->
                                </div>

                                <div class="col-md-4 col-xs-12">
                                    <div class="address-info">
                                        <div class="row">

                                            <div class="col-md-3 col-xs-3">
                                                <div class="address-info-icon text-center center-block bg-light-gray">
                                                    <i class="fa fa-phone"></i>
                                                </div> <!-- /.address-info-icon -->
                                            </div>

                                            <div class="col-md-9 col-xs-9 address-info-desc">
                                                <h3>Tél</h3>
                                                <p>
                                                    (+216) 79 391 087 
                                                    (+216) 79 391 088

                                                    <br/>
                                                    Fax +216 79 391 056
                                                </p>
                                            </div> <!-- /.address-info-desc -->

                                        </div>
                                    </div> <!-- /.address-info -->
                                </div>

                                <div class="col-md-4 col-xs-12">
                                    <div class="address-info">
                                        <div class="row">

                                            <div class="col-md-3 col-xs-3">
                                                <div class="address-info-icon text-center center-block bg-light-gray">
                                                    <i class="fa fa-envelope-o"></i>
                                                </div> <!-- /.address-info-icon -->
                                            </div>

                                            <div class="col-md-9 col-xs-9 address-info-desc">
                                                <h3>Email </h3>
                                                <p>
                                                    microsysteme@gnet.tn

                                                </p>
                                            </div> <!-- /.address-info-desc -->

                                        </div>
                                    </div> <!-- /.address-info -->
                                </div>

                            </div>
                        </section> <!-- /.contact-address -->



                        <!-- contact-form -->
                        <section class="contact-form">

                            <!-- call for contact -->
                            <div class="headline text-center">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <h2 class="section-title">  {{ 'translate.link170'|trans }} </h2>
                                        <p class="section-sub-title">
                                            {{ 'translate.link171'|trans }}
                                        </p> <!-- /section-sub-title -->
                                    </div>
                                </div>
                            </div> <!-- /.contact-speech -->

                            <form method="post" action="{{ path('contact1') }}">


                                <div class="row">
                                    <div class="col-md-4">

                                        <div class="form-group">
                                            {{ 'translate.link157'|trans }} 
                                            {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Nom' } }) }}
                                            {{ form_errors(form.nom) }}
                                        </div>

                                        <div class="form-group">
                                            {{ 'translate.link166'|trans }} 
                                            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'email' } }) }}
                                            {{ form_errors(form.email) }}

                                        </div>

                                        <div class="form-group">
                                            {{ 'translate.link169'|trans }} 
                                            {{ form_widget(form.objet, { 'attr': {'class': 'form-control', 'placeholder': 'Objet'|trans } }) }}
                                            {{ form_errors(form.objet) }}

                                        </div>

                                    </div>

                                    <div class="col-md-8">
                                        {{ 'translate.link164'|trans }}
                                        {{ form_widget(form.sujet, { 'attr': {'class': 'form-control','rows': '15', 'placeholder': 'ecrire votre message ici......'|trans } }) }}
                                        {{ form_errors(form.sujet) }}
                                    </div>
                                </div>
                                    
                                <div class="col-md-1"></div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center" style="margin-top: 40px;">
                                {{ form_rest(form) }}
                                <!-- end section -->
                            </div>         

                                <button type="submit" id="submit" name="submit" class="btn btn-info">  {{ 'translate.link168'|trans }} </button>

                            </form> <!-- form end -->
                        </section> <!-- /.contact-form -->

                    </div> <!-- container -->
                </div>
                <!-- main-content end -->





                <!-- footer-navigation start -->  
                <footer>
                    <div class="container">
                        <div class="row">

                            <!-- useful links -->
                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <h4>{{ 'translate.link155'|trans }}</h4>
                                <ul class="row footer-links">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <li><a href="{{path('acceuil')}}">{{ 'translate.link145'|trans }}</a></li>
                                        <li><a href="{{path('about')}}">{{ 'translate.link146'|trans }}</a></li>
                                        <li><a href="{{path('service')}}">Service</a></li>
                                        <li><a href="{{path('Reference')}}">Réferénce</a></li>
                                        <li><a href="{{path('MS-Compta')}}">{{ 'translate.link147'|trans }}</a></li>  
                                        <li><a href="{{path('MS-Cars')}}">MS-Cars</a></li>
                                        <li><a href="{{path('MS-Haras')}}">MS-Haras</a><li>
                                        <li><a href="{{path('devi_new')}}">{{ 'translate.link148'|trans }}</a><li>    
                                        <li><a href="{{path('myapplication_contact')}}">Contact</a></li>
                                    </div>


                                </ul>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <h4>{{ 'translate.link156'|trans }}</h4>
                                <ul class="row footer-links">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <li><a href="{{path('MS-Compta')}}">{{ 'translate.link149'|trans }}</a></li>
                                        <li><a href="{{path('MS-Achat')}}">{{ 'translate.link150'|trans }}</a></li>
                                        <li><a href="{{path('MS-Budget')}}">MS-Budget</a></li>
                                        <li><a href="{{path('GestionComptable')}}">MS-Compta</a></li>
                                        <li><a href="{{path('MS-RH')}}">{{ 'translate.link152'|trans }}</a></li>
                                        <li><a href="{{path('MS-VE')}}">{{ 'translate.link153'|trans }}</a></li>

                                    </div>


                                </ul>
                            </div>        


                            <!-- recent news -->


                            <!-- news-letter -->


                            <!-- about avada agency -->
                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">
                                <h4>MicroSystem Solutions </h4>



                                <div class="footer-address">
                                    <p>
                                        {{ 'translate.link162'|trans }} <br>
                                        APP 9 Residence el Hakim Av de paris Ben Arous
                                        <br>



                                </div>


                            </div> <!-- /.footer-widget -->

                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">




                                <div class="footer-address">

                                    <p> Email <br>
                                        microsysteme@gnet.tn
                                    </p>


                                </div>


                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 footer-widget">




                                <div class="footer-address">


                                    <p> Tél 
                                        <br>  
                                        (+216) 79 391 087 <br>
                                        (+216) 79 391 088 
                                    </p>
                                    <p>   Fax

                                        +216 79 391 056


                                    </p>

                                </div>


                            </div> 


                        </div>

                        <nav class="hidden-xs hidden-sm navbar footer-nav" role="navigation">
                            <div class="container">

                                <div class="navbar-header">

                                    <!-- navbar logo -->
                                    <div class="navbar-brand">

                                        <a href="#">
                                            @2018 All Rights Reserved. Designed by MicroSystem Solutions
                                        </a>
                                    </div>
                                    <!-- navbar logo -->

                                </div><!-- /.navbar-header -->

                                <!-- nav links -->

                            </div><!-- /.container -->
                        </nav>

                    </div>
                </footer>    
                <!-- footer-navigation end -->

            </div> <!-- /#contact-page (page end) -->


        </body>
    </html>

{%  endblock %}